<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Atención Telefónica SEARS</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="robo.css"> <!-- CSS externo -->
    <script src="robo.js"></script> <!-- Web Component -->
</head>
<body>
    <centro-atencion-sears></centro-atencion-sears> <!-- Llamada al componente -->
</body>
</html>
